/* Color Palette
#282D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
#9932CC - dark orchid 93, 164, 193
#7B68EE - medium lateblue
#FFF8DC - cornsilk
#D3D3D3 - lightgray
#696969 - dimgrey
#A9A9A9 - darkgray
#DCDCDC - gainsboro
#008080 - teal


*/

/* Global styles ---------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 {
    font-family: 'poppins', cursive;
    font-weight: 400;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
h3 {
    margin: 0;
}
h4 {
    margin: 0;
    display: center;
    text-align: center;
}
h5 {
    margin: 0;
    display: left;
    text-align: left;
}
a {
    color: #696969;
}
a:hover {
    background: #D3D3D3;
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}    
/* Download button */
.btn {
    text-decoration: none;
    background: #696969;
    color: white;
    padding: 10px;
    display: inline-block;
}

/* Header and Footer -----------*/
header, footer {
    background: #D3D3D3;
    color: #A9A9A9;
}

/* header */
header {
    padding-top: 50px;
    position: relative;
}
header h1, header h2 {
    color: #A9A9A9;
    margin: 0;
}
.profile-img {
    border-radius: 50%;
}
.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* footer */
footer {
    text-align: center;
}
.contact-info a {
    padding: 40px;
    display: inline-block;
}
@keyframes fa-blink {
    0% { opacity: 1; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 0; }
}
.contact-info {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink .75s linear infinite;
}

/* Navigation ------*/
nav {
    text-align: center;
    background: #A9A9A9;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

/* Work Experience ------------*/
.work {
    background: #DCDCDC;
    color: #008080;
}
h3 ~ p {
    margin: 0;
}
.job-description {
     margin-bottom: 25px; 
}
.job-description p:first-of-type {
    margin-top: 0;
}

/* Education ---------------*/
.education {
    /* background: linear-gradient(rgba(150, 50, 204, 0.8),rgba(150, 50, 204,0.5)),
                url(../images/helen-do.png) no-repeat fixed;
    background-size: cover; */
    background: #696969;
    color: white;
}
p + h3 {
    margin-top: 30px;
}

/* Media Queries ---------------*/
@media (min-width: 900px) {
    .col-narrow {
        width: 30%;
        float: left;
    }
    .col-wide {
        width: 70%;
        float: left;
        padding-left: 20px;
    }
}
@media (max-width: 899px) {
    header {
        text-align: center;
    }
    .profile-img {
        width: 200px;
    }
}
